/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Form Styles */
form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

form button:hover {
  background-color: #0056b3;
}

form .reset-button {
  background-color: #6c757d;
}

form .reset-button:hover {
  background-color: #5a6268;
}

/* Table Styles */
table {
  width: 100%;
  /*border-collapse: collapse;*/
  margin: 20px auto;
  border-collapse: separate;
  border-radius: 8px
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

table th {
  background-color: #007bff;
  color: white;
  margin: auto;

}

table tr:hover {
  background-color: #f1f1f1;
}

table button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

table button:hover {
  background-color: #218838;
}

table button.delete-button {
  background-color: #dc3545;
}

table button.delete-button:hover {
  background-color: #c82333;
}
.add-employee-button {
  background-color: red; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 620px;

}

.add-employee-button:hover {
  background-color: grey; /* Darker shade of the primary color */
}

.add-employee-button:focus {
  outline: none;
}
